In [58]:
import pandas as pd
dates =['2017/01/19 3:00 PM','20190109 14:50:00','Jan 5, 2017', '2017-01-05', 'abc']
pd.to_datetime(dates, errors = 'coerce')

DatetimeIndex(['2017-01-19 15:00:00', '2019-01-09 14:50:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [52]:
pd.to_datetime('2018-05-01')

Timestamp('2018-05-01 00:00:00')

In [53]:
pd.to_datetime('2018-05-01', dayfirst=True)

Timestamp('2018-05-01 00:00:00')

In [20]:
import pandas as pd
pd.to_datetime('5-1-2016', dayfirst=True)

Timestamp('2016-01-05 00:00:00')

In [54]:
import pandas as pd
pd.to_datetime('5*1*2016', format='%m*%d*%Y')

Timestamp('2016-05-01 00:00:00')

In [55]:
import pandas as pd
pd.to_datetime('5*1*2016', format='%d*%m*%Y')

Timestamp('2016-01-05 00:00:00')

In [56]:
import pandas as pd
pd.to_datetime('5*1*2016', format='%m*%d*%Y', dayfirst=True)

Timestamp('2016-05-01 00:00:00')

In [35]:
import pandas as pd
dates = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30', '01/05/2017', '2017.01.05', '2017/01/05','20170105','abc']
pd.to_datetime(dates, errors = "coerce")

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
                               'NaT'],
              dtype='datetime64[ns]', freq=None)

In [43]:
t = 1501324478
pd.to_datetime([t], unit='s')

DatetimeIndex(['2017-07-29 10:34:38'], dtype='datetime64[ns]', freq=None)

In [60]:
import sysfrom pyspark import SparkConf, SparkContext
conf = SparkConf()
sc = SparkContext(conf=conf)
print ("%d lines" % sc.textFile('file://'+sys.argv[1]).count())

SyntaxError: invalid syntax (<ipython-input-60-2d13d458b73d>, line 1)