In [4]:
import pandas as pd
df = pd.read_csv('/Users/Shaheen/Desktop/Vineet/MS_SE_Spring2019/Python/Pandas/Day19.csv')
df

               Date Time  Price
0   8/17/2017 9:00:00 AM  72.38
1   8/17/2017 9:15:00 AM  71.00
2   8/17/2017 9:30:00 AM  71.67
3  8/17/2017 10:00:00 AM  72.80
4  8/17/2017 10:30:00 AM  73.00
5  8/17/2017 11:00:00 AM  72.50

In [5]:
import pandas as pd
df = pd.read_csv('/Users/Shaheen/Desktop/Vineet/MS_SE_Spring2019/Python/Pandas/Day19.csv', index_col ="Date Time", parse_dates = True)
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [7]:
df.index

DatetimeIndex(['2017-08-17 09:00:00', '2017-08-17 09:15:00',
               '2017-08-17 09:30:00', '2017-08-17 10:00:00',
               '2017-08-17 10:30:00', '2017-08-17 11:00:00'],
              dtype='datetime64[ns]', name='Date Time', freq=None)

In [11]:
df.index = df.index.tz_localize(tz='US/Eastern')
df.index

DatetimeIndex(['2017-08-17 09:00:00-04:00', '2017-08-17 09:15:00-04:00',
               '2017-08-17 09:30:00-04:00', '2017-08-17 10:00:00-04:00',
               '2017-08-17 10:30:00-04:00', '2017-08-17 11:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', name='Date Time', freq=None)

In [14]:
london = pd.date_range('3/6/2012 00:09:00', periods=10, freq='H')
london

DatetimeIndex(['2012-03-06 00:09:00', '2012-03-06 01:09:00',
               '2012-03-06 02:09:00', '2012-03-06 03:09:00',
               '2012-03-06 04:09:00', '2012-03-06 05:09:00',
               '2012-03-06 06:09:00', '2012-03-06 07:09:00',
               '2012-03-06 08:09:00', '2012-03-06 09:09:00'],
              dtype='datetime64[ns]', freq='H')